@tailwind base;
@tailwind components;
@tailwind utilities;

/* .loader {
  width: 48px;
  height: 48px;
  position: relative;
} */
:root {
  --dark-blue: #1f2937;
  --dark-gray: #374151;
  --dark-green: #0d9e6d;
  --light-green: #10b981;
  --white: #fff;
  --light-gray: #d1d5db;
}
html {
  background-color: #f8f8f8;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--light-gray);
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--medium-gray);
  border-radius: 2px;
}

main {
  min-height: 100vh;
}

.loader::before,
.loader::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
  height: 24px;
  background-image: radial-gradient(circle 10px, #fff 100%, transparent 0),
    radial-gradient(circle 10px, #fff 100%, transparent 0),
    radial-gradient(circle 10px, #fff 100%, transparent 0),
    radial-gradient(circle 10px, #fff 100%, transparent 0),
    radial-gradient(circle 10px, #fff 100%, transparent 0),
    radial-gradient(circle 10px, #fff 100%, transparent 0),
    radial-gradient(circle 10px, #fff 100%, transparent 0),
    radial-gradient(circle 10px, #fff 100%, transparent 0);
  background-position: 0em -18em, 0em 18em, 18em 0em, -18em 0em, 13em -13em,
    -13em -13em, 13em 13em, -13em 13em;
  background-repeat: no-repeat;
  font-size: 0.5px;
  border-radius: 50%;
  animation: blast 1s ease-in infinite;
}

.loader::after {
  font-size: 1px;
  background: #fff;
  animation: bounce 1s ease-in infinite;
}

@keyframes bounce {

  0%,
  100% {
    font-size: 0.75px;
  }

  50% {
    font-size: 1.5px;
  }
}

@keyframes blast {

  0%,
  40% {
    font-size: 0.5px;
  }

  70% {
    opacity: 1;
    font-size: 4px;
  }

  100% {
    font-size: 6px;
    opacity: 0;
  }
}


.bell-icon {
  animation: rotateIcon 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.2s infinite;
}

@keyframes rotateIcon {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(25deg);
  }

  50% {
    transform: rotate(0);
  }

  75% {
    transform: rotate(-25deg);
  }

  100% {
    transform: rotate(0);
  }
}